<%- include('../../base/head')  %>
<%- include('../../components/navbar')  %>
    <div class="col-sm-4 mx-auto mt-5">
        <%- include('../../components/score-form')  %>
    </div>
<%- include('../../components/footer')  %>
<%- include('../../base/end')  %>