<!-- Jumbotron -->
<div class="jumbotron text-center">

    <!-- Card image -->
    <div class="view overlay my-4">
        <div class="overlay"></div>
        <img src="/img/tlu-cover.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <h5 class="indigo-text h5 mb-4">Chọn Ca Thi</h5>
    <% if(typeof(alert) !== 'undefined'){  %>
    <div class="alert alert-<%= alert.type  %>  alert-dismissible fade show" role="alert">
        <strong><%= alert.message  %> </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <!-- Default form subscription -->
    <form class="text-center" action="/student/search-exam" method="POST">

        <!-- Name -->

          <!-- <input type="text" name="search" class="form-control mb-4" placeholder="Nhập Mã Ca Thi" value="<%= typeof(search) !== 'undefined'? search: '' %> "> -->
          
          <select name="search" class="form-control mb-4" id="exams">
            <% exam.forEach(exam => {  %> 
              <option value="<%= exam.examID  %>"><%= exam.name  %></option>
              <% }) %> 
            </select>

        <!-- Email -->
        <!-- Sign in button -->
        <button class="btn btn-info btn-block" type="submit">Vào Thi</button>


    </form>
    <!-- Default form subscription -->

</div>
<!-- Jumbotron -->