<%- include('../../base/head')  %>
<%- include('../../components/navbar')  %>
<div class="jumbotron mx-auto text-center ">
<!---->
    <!-- Title -->
    <% 
let role = null;
if(user.role === 'teacher'){role='Giáo Viên'} 
if(user.role === 'admin'){role='Quản Trị Viên'}
%>
    <h2 class="card-title h2 text-center mb-3 text-uppercase"><%= role %>/ ĐỔI MẬT KHẨU</h2>
    <div class="col-sm-4 mx-auto mt-5">
        <%- include('../../components/changepassword-form')  %>
    </div>
</div>
<%- include('../../components/footer') %>
<%- include('../../base/end')  %>