<%- include('../../base/head')  %>
<%- include('../../components/navbar')  %>

<div class="col-sm-4 mx-auto mt-5 mb-5 ">
    <!-- Default form register -->
    <form class="text-center border border-light p-5" action="/teacher/upload-courses" method="POST" enctype="multipart/form-data">
            <p class="h4 mb-5"><%= pageTitle %></p>
        <% if(typeof(alert) !== 'undefined'){  %>
        <div class="alert alert-<%= alert.type  %>  alert-dismissible fade show" role="alert">
            <strong><%= alert.message  %> </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
            <input type="file" id="file" name="file-courses" id="courses" hidden required>
            <label for="file" class="btn btn-outline-indigo"><i class="fas fa-file-csv"></i> Chọn File</label>
            <button type="submit" class="btn btn-outline-default waves-effect"> <i
                    class="fas fa-cloud-upload-alt"></i> Tải Lên</button>
    </form>
</div>
<%- include('../../components/footer')  %>
<%- include('../../base/end')  %>