<%- include('../../base/head') %>
<%- include('../../components/navbar') %>

<div class="mt-4 col-sm-6 mx-auto mt-5 mb-5">
    <form class="border border-light p-5" method="POST" action="/teacher/store-course/<%= course._id%>?_method=PUT">
        <p class="h4 mb-5 text-center">Giáo Viên | Thêm Bài Giảng</p>
    
            <div class="form-group">
                <label for="nane">Tên Bài Học</label>
                <textarea class="form-control"  id="name" name="name"><%=course.name %></textarea>
            </div>

            <div class="form-group">
                <label for="description">Mô Tả</label>
                <textarea class="form-control" id="description" name="description"><%=course.description %></textarea>
            </div>

            <div class="form-group">
                <label for="videoID">Video ID</label>
                <input type="text" class="form-control" value="<%=course.videoID %> " id="videoID" name="videoID">
            </div>

            <div class="form-group">
                <label for="videoID">Lựa Chọn Trình Độ</label>
                <select class="custom-select custom-select-md mb-3" name="level" required>
                    <option value="easy">Dễ</option>
                    <option value="normal">Trung Bình</option>
                    <option value="hard">Khó</option>
                  
                </select>
            </div>
            <button class="btn btn-info btn-block my-4" type="submit">Lưu Lại</button>
    </form>
</div>
<%- include('../../components/footer') %>
<%- include('../../base/end') %>